@layer components {
  .book-card {
    @apply container mx-auto bg-teal-400 rounded-2xl w-[70vw] 
    flex flex-col items-center  p-12 gap-10 max-w-[40rem] transition-all text-white
    duration-150 ease-out hover:ease-in;


    @media screen(sm) {
      @apply flex-row w-[90vw] h-[50vh];
    }
    h1 {
      @apply truncate font-bold;
    }
    h2 {
      @apply truncate font-normal;
    }
    h3 {
      @apply truncate font-thin;
    }
    main {
      @apply font-normal w-[50vw];

    }
    .img-shell {
      @apply w-full  max-w-4xl container-f click;

      @media screen(sm) {
        @apply w-full h-full;
      }
    }
    img {
      @apply container mx-auto w-[100%] click
      transition-all shadow-lg hover:scale-105 duration-[.3s]  object-cover max-h-full;

      @media screen(sm) {
        @apply w-[12rem] max-w-sm max-h-60 aspect-vertical;
      }
    }

    button {
      @apply p-btn-error bg-red-400;
      &:hover,
      &:active,
      &:focus {
        background: #4ccdf7;
        color: #111111;
      }
    }
    .btn {
      @apply p-btn-error bg-red-400 hover:text-red-50 hover:border-blue-500;
      &:hover,
      &:active,
      &:focus {
        background: #4ccdf7;
        color: white;
      }
    }
    .icon {
      @apply cursor-pointer click;
    }
  }
}
