@layer components {
  /* btn */
  .btn {
    @apply p-btn p-btn-wide rounded-3xl shadow-xl click w-full;

    /* @apply sm: */
  }
  .btn-danger {
    @apply btn p-btn-error;
    background: #cf4747;
    color: #fffaf8;

    &:hover,
    &:active,
    &:focus {
      @apply bg-amber-200 text-red-500;
    }
  }
  .btn-warning {
    @apply p-btn p-btn-warning p-btn-wide rounded-3xl shadow-xl click;

    &:hover,
    &:active,
    &:focus {
      background: #4ccdf7;
      color: #111111;
    }
  }
  .btn-loading {
    @apply p-btn p-loading p-btn-wide rounded-3xl shadow-xl click p-btn-info p-btn-square;

    &:hover,
    &:active,
    &:focus {
      background: #4ccdf7;
      color: #111111;
    }
  }
  .btn-info {
    @apply p-btn p-btn-info p-btn-wide rounded-3xl shadow-xl click hover:text-red-50 hover:border-blue-500 hover:bg-blue-800;
    &:hover,
    &:active,
    &:focus {
      background: #4ccdf7;
      color: white;
    }
  }
  .btn-warning {
    @apply p-btn p-btn-warning p-btn-wide rounded-3xl shadow-xl click;

    &:hover,
    &:active,
    &:focus {
      background: #4ccdf7;
      color: #111111;
    }
  }
  .btn-warning {
    @apply p-btn p-btn-error p-btn-wide rounded-3xl shadow-xl click;

    &:hover,
    &:active,
    &:focus {
      background: #4ccdf7;
      color: #111111;
    }
  }
}
