@layer components {
  /* form */
  .form {
    @apply flex flex-col gap-5 items-center p-10 shadow-2xl bg-slate-100 shadow-gray-400 justify-between rounded-2xl;


    div{
      @apply w-full
    }
    label {
      @apply font-medium text-gray-800 text-2xl truncate;
    }
    input {
      @apply p-input w-full p-input-bordered ;
    }
    button {
      @apply p-btn w-full bg-indigo-400;
    }
    textarea {
      @apply border-slate-200 border-2;

      padding: 10px;
      outline: none;
      display: block;
      width: 100%;
      height: 10rem;
      box-sizing: border-box;
      margin: 20px auto;
    }
    .btn {
      @apply p-btn w-full bg-indigo-400;
    }
  }
}
