@layer components {
  /* form */
  .form {
    @apply flex flex-col gap-5 items-center p-10 shadow-2xl bg-slate-100 shadow-gray-400 justify-between rounded-2xl;

    div {
      @apply w-full flex items-center;
    }
    label {
      @apply font-medium text-gray-800 text-2xl truncate;
    }
    input {
      @apply p-input w-full p-input-bordered;
    }
    input[type='post'] {
      @apply  w-full p-input-bordered hover:border-sky-300 border-2 p-2;
      outline: none;
      display: block;
      width: 100%;
      height: 3rem;
      box-sizing: border-box;
    }
    button {
      @apply p-btn w-full bg-indigo-400;
    }
    textarea {
      @apply border-slate-200 border-2 hover:border-sky-300 rounded-lg p-2;


      outline: none;
      display: block;
      width: 100%;
      height: 10rem;
      box-sizing: border-box;

    }
    .btn {
      @apply p-btn w-full bg-indigo-400;
    }
    span {
      @apply flex truncate items-center;
    }
    input[type='checkbox'] {
      @apply p-0 h-4  flex-none w-min;
    }
    input[type='file'] {
      @apply  h-[3rem] w-full flex-none p-2 px-[3rem];
    }
  }

}
