@layer components {
  /* input */
  .input {
    @apply p-input p-input-bordered rounded-xl;
  }
  .input-info {
    @apply p-input p-input-info;
    background-color: #cffafe;
  }
  .input-error {
    @apply p-input p-input-error;
    background-color: #fce4e4;
  }
  .input-warning {
    @apply p-input p-input-warning;
    background-color: #fce4e4;
  }
}
