@layer components {
  /* tooltip */
  .tooltip-info {
    @apply p-tooltip p-tooltip-open p-tooltip-bottom p-tooltip-info;

    &:before,
    &:after {
      opacity: 1;
    }
  }
  .tooltip-warning {
    @apply p-tooltip p-tooltip-open p-tooltip-bottom p-tooltip-warning;

    &:before,
    &:after {
      opacity: 1;
    }
  }
  .tooltip-error {
    @apply p-tooltip p-tooltip-open p-tooltip-bottom p-tooltip-error;

    &:before,
    &:after {
      opacity: 1;
    }
  }
}
